---
layout: media-post
title: Artigos Economia
class: media-pt
media_active?: active
formacao?: artigos-economia
pagination:
  enabled: true
  category: artigos
---
 

<body class='older_browser ev media'>
  <ol class='contents '>
    <li class="container container_float_left">
      <div class='content' id='content_624_container'>
        <div class='menu ev-menu-destaques'>
          <h1>
            <span>
              Media
            </span>
          </h1>
          <ul>
            <li class='media '>
              <a href='../../../pt-media/rumo-economico.html'>
                <span class='icon'></span>
                <span class='label'>
                  Notícias Rumo Económico
                </span>
              </a>
            </li>
            <li class='artigos-economia active '>
              <a href='../../../pt-media/artigos/index.html'>
                <span class='icon'></span>
                <span class='label'>
                  Artigos Suplemento de Economia
                </span>
              </a>
            </li>
            <li class='videos '>
              <a href='../../../pt-media/videos.html'>
                <span class='icon'></span>
                <span class='label'>
                  Vídeos
                </span>
              </a>
            </li>
            <li class='clipping  '>
              <a href='../../../pt-media/clipping.html'>
                <span class='icon'></span>
                <span class='label'>
                  Clipping
                </span>
              </a>
            </li>
            <li class='press-release  '>
              <a href='../../../pt-media/press-release/index.html'>
                <span class='icon'></span>
                <span class='label'>
                  Press Release
                </span>
              </a>
            </li>
            <li class='logo-marca '>
              <a href='../../../pt-media/logo-marca.html'>
                <span class='icon'></span>
                <span class='label'>
                  Logo Marca
                </span>
              </a>
            </li>
            <li class='galeria-fotos -last  '>
              <a href='../../../pt-media/galeria-fotos.html'>
                <span class='icon'></span>
                <span class='label'>
                  Galeria de Fotos
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    
    <li class="container container_float_left">
      <div class="content" id="content_653_container">
        <div class="ev-journal-economia">
          <h1>
            <span>Suplemento de Economia</span>
            <div class="feed">
              <a href="../../../feed/artigos-economia">
                <div class="icon"></div>
                <div class="label">feed</div>
              </a>
            </div>
          </h1>          

          <!--{% assign pages = paginator.posts | where: "category" , "artigos" %}--> 
          {% for post in paginator.posts %}    
          <ul>
            <li class="article-0">
              <div class="article ">
                <div class="head">
                  <div class="title">
                    <span>{{post.title}}</span>
                  </div>
                  <div class="data">
                    <span>{{post.data}}</span>
                  </div>
                  <div class="author">
                    <span>{{post.autor}}</span>
                  </div>
                </div>
                <div class="foot">
                  <div class="more">
                    <a href="{{post.url}}">
                      <div class="icon"></div>
                      <div class="label">ler mais</div>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          {% endfor %}

          <div class="paginator">
            <div class="pagination">
              {% if paginator.previous_page %}
                <a href="{{ paginator.first_page_path }}" class="next">P&aacute;gina Inicial</a>
                <a href="{{ paginator.previous_page_path }}" class="previous">P&aacute;gina anterior</a>
              {% else %}
                <span class="previous_page disabled">P&aacute;gina anterior</span>
              {% endif %}
              <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
              {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next">Pr&oacute;xima p&aacute;gina</a>
                <a href="{{ paginator.last_page_path }}" class="next">Ultima p&aacute;gina</a>
              {% else %}
                <span class="next_page disabled">Pr&oacute;xima p&aacute;gina</span>
              {% endif %}
            </div>
          </div>
          
        </div>
      </div>
    </li>
  </ol>
</body>