---
layout: default
title: Serviços
class: servicos-pt
servicos_active?: active
---

<body class='older_browser ev servicos'>
  <div class='clearfix' id='main_container'>
    {% include header.html %}
    <div class='clearfix' id='middle_container'>
      {% include menu.html %}        
      <div class='clearfix' id='container3'>
        <div class='contents'>
          
          <ol class="contents clearfix">
            <li class="container container_expand">
              <div class="content" id="content_644_container">
                <div class="ev-journal-solucoes">
                  <h1><span>Soluções</span></h1>
                  <ul>

                    <li class="article-0">
                      <div class="article clearfix">
                        <a name="anchor58"> </a>
                        <div class="header">
                          <div class="title"><span>Solução Avançada</span></div>
                          <div class="data"><span>28-08-2013</span></div>
                        </div>
                        <div id="journal18article58" class="expander body">
                          <div class="text">
                            <span>
                              <div> <strong>Solução Avançada </strong><strong>EDIT VALUE</strong><sub><sup><strong>®</strong></sup></sub> </div>
                              <div style="text-align: justify;"> </div>
                              <div style="text-align: left;">Serviço integrado de consultoria contabilística e fiscal. Inclui um acompanhamento permanente ao nível da gestão da empresa, permitindo aos seus decisores e gestores uma maior segurança e rapidez no processo de tomada de decisão.</div>
                              <div style="text-align: left;">Trata-se de um modelo de outsourcing, suportado pelo desenvolvimento de consultoria e assessoria contabilística e fiscal, nomeadamente: entrega de todas as declarações fiscais; reconciliações bancárias; controlo de imobilizado por fichas individualizadas; elaboração do Relatório e Contas e Dossier Fiscal; processamento de salários e quadros de pessoal; acesso documental online através da “Área Cliente”; entrega de relatórios periódicos de apoio à gestão; reporting financeiro.</div>
                              <div style="text-align: left;">Através desta solução pretende-se dar uma resposta integrada e de excelência, que vá muito além do mero cumprimento das obrigações fiscais.</div>
                            </span>
                          </div>
                          <div class="more" data-expecial-widget="expander">
                            <div><span></span></div>
                          </div>
                        </div>
                      </div>
                    </li>


                    <li class="article-1">
                      <div class="article clearfix">
                        <a name="anchor63"> </a>
                        <div class="header">
                          <div class="title"><span>Solução Completa</span></div>
                          <div class="data"><span>28-08-2013</span></div>
                        </div>
                        <div id="journal18article63" class="expander body">
                          <div class="text">
                            <span>
                              <div> <strong>Solução Completa EDIT VALUE</strong><sub><sup><strong>®</strong></sup></sub> </div>
                              <div> </div>
                              <div>Consultoria contabilística e fiscal concebida de acordo com a organização-cliente. Todo o trabalho é desenvolvido pelo consultor nas instalações do cliente, o que implica uma adaptação completa do modelo de atuação à cultura organizacional.</div>
                              <div>Resulta de um insourcing de procedimentos administrativos e financeiros, que permite internalizar Know-how na própria organização, reduzindo custos operacionais. Este serviço inclui a realização de um Estudo de Benchmarking que permite avaliar (de forma transversal à atividade) o posicionamento da empresa, para que sejam iniciadas intervenções complementares de consultoria.</div>
                              <div>Tal como na Solução Avançada EDIT VALUE<sub><sup>®</sup></sub>, existe um acompanhamento e um apoio à gestão empresarial, através de consultoria fiscal e contabilística estruturada e desenvolvida em sintonia com a estratégia e exigências do cliente.</div>
                            </span>
                          </div>
                          <div class="more" data-expecial-widget="expander">
                            <div><span></span></div>
                          </div>
                        </div>
                      </div>
                    </li>


                    <li class="article-2">
                      <div class="article clearfix">
                        <a name="anchor64"> </a>
                        <div class="header">
                          <div class="title"><span>Solução Personalizada</span></div>
                          <div class="data"><span>28-08-2013</span></div>
                        </div>
                        <div id="journal18article64" class="expander body">
                          <div class="text">
                            <span>
                              <div><strong>Solução Personalizada </strong><strong>EDIT VALUE<sub><sup>®</sup></sub></strong></div>
                              <div> </div>
                              <div>Solução desenhada em função de necessidades pontuais do cliente. Serviço desenvolvido à medida. Exige a cativação de esforços redobrados para assegurar o cumprimento das especificidades contratualizadas. O desenvolvimento de um qualquer projeto desta natureza envolve o cliente como co-produtor do serviço. Estamos perante serviços como: Planos de Negócio; Benchmarking; Estudos de Viabilidade Económico-Financeira; Projectos de Investimento; Planos de Marketing; entre outros.</div>
                              <div>Ao contrário dos demais, tanto os clientes da Solução Avançada como os clientes da Solução Completa, gozam de uma filosofia de risco partilhado em qualquer candidatura que seja efectuada no âmbito de uma Solução Personalizada.</div>
                            </span>
                          </div>
                          <div class="more" data-expecial-widget="expander">
                            <div><span></span></div>
                          </div>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </li>


            <li class="container left">
              <div class="content" id="content_15333_container">
                <div class="list areas_actuacao  " id="list_173">
                  <h1><span class="value">Áreas de atuação</span><span class="i18n"></span></h1>
                  <div class="items">

                    <ul>
                      <li class="i-0    odd" id="item-7021">
                        <div class="item">
                          <div class="image">
                            <img alt="Gestao-financeira" class="blur" src='assets/sites/55a8a0b6301be3e68f000002/theme/images/foreigners/edit-value/58/42320/s64-c/gestao-financeira.jpg'>
                          </div>
                          <div class="folder">
                            <div class="name">
                              <span class="label">Nome</span>
                              <span class="value">Gestão Financeira</span>
                            </div>
                            <div class="text1">
                              <span class="label">Texto 1</span>
                              <span class="value"><p>Consultoria Fiscal e Contabilística, Assessoria Fiscal, Estudos de Viabilidade, Recuperação de Empresas, Análise de Custos Industriais, Relatórios de Gestão.</p>
                              </span>
                            </div>
                          </div>
                        </div>
                      </li>


                      <li class="i-1    even" id="item-7022">
                        <div class="item">
                          <div class="image">
                            <img alt="Gestao-estrategica" class="blur" src='assets/sites/55a8a0b6301be3e68f000002/theme/images/foreigners/edit-value/58/42322/s64-c/gestao-estrategica.jpg'>
                          </div>
                          <div class="folder">
                            <div class="name">
                              <span class="label">Nome</span>
                              <span class="value">Gestão Estratégica</span>
                            </div>
                            <div class="text1">
                              <span class="label">Texto 1</span>
                              <span class="value"><p>Benchmarking, Planos de Marketing, Planos de Comunicação, Estudos de Mercado, Planos Estratégicos, Gestão de Recursos Humanos, Comunicação, Internacionalização.</p>
                              </span>
                            </div>
                          </div>
                        </div>
                      </li>


                      <li class="i-2    odd" id="item-7023">
                        <div class="item">
                          <div class="image">
                            <img alt="Empreendedorismo" class="blur" src='assets/sites/55a8a0b6301be3e68f000002/theme/images/foreigners/edit-value/58/42324/s64-c/empreendedorismo.jpg'>
                          </div>
                          <div class="folder">
                            <div class="name">
                              <span class="label">Nome</span>
                              <span class="value">Empreendedorismo</span>
                            </div>
                            <div class="text1">
                              <span class="label">Texto 1</span>
                              <span class="value"><p>Consultoria para a Criação de Empresas, Plano de Negócios</p>
                              </span>
                            </div>
                          </div>
                        </div>
                      </li>


                      <li class="i-3    even" id="item-7024">
                        <div class="item">
                          <div class="image">
                            <img alt="Programas-de-apoio-e-incentivo" class="blur" src='assets/sites/55a8a0b6301be3e68f000002/theme/images/foreigners/edit-value/58/42423/s64-c/programas-de-apoio-e-incentivo.jpg'>
                          </div>
                          <div class="folder">
                            <div class="name">
                              <span class="label">Nome</span>
                              <span class="value">Programas de Apoio e Incentivo</span>
                            </div>
                            <div class="text1">
                              <span class="label">Texto 1</span>
                              <span class="value"><p>FP7, QREN, Comércio Investe, PAECPE, Estágios Profissionais, Apoios à Contratação.</p>
                              </span>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                    
                    <div class="footer">
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
    {% include footer.html %}    
  </div>
</body>

