<div class='' id='container2'>
    <div class='contents'>
        <ol class='contents '>
            <li class="container left ">
                <div class="content" id="content_616_container">
                    <div class="ev-main-menu-en">
                        <h1><span>Principal (en)</span></h1>
                        <ul>
                            <!-- Index -->
                            <li id="box_menu30link169" class="index-en {{page.index_active?}}">
                                <a href="../en.html">
                                <div>
                                    <div id='menu30link169' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">EditValue</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu30link169').hover(function() {
                                    $('#menu30link169').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu30link169').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>

                            <!-- Team -->
                            <li id="box_menu30link170" class="team {{page.team_active?}}">
                                <a href="../en/team.html">
                                <div>
                                    <div id='menu30link170' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">Team</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu30link170').hover(function() {
                                    $('#menu30link170').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu30link170').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>

                            <!-- Services -->
                            <li id="box_menu30link150" class="services {{page.services_active?}}">
                                <a href="../en/services.html">
                                <div>
                                    <div id='menu30link150' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">Services</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu30link150').hover(function() {
                                    $('#menu30link150').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu30link150').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>

                            <!-- Research -->
                            <li id="box_menu30link637" class="research {{page.research_active?}}">
                                <a href="../en/research.html">
                                <div>
                                    <div id='menu30link637' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">Research</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu30link637').hover(function() {
                                    $('#menu30link637').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu30link637').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>

                            <!-- Contacts -->
                            <li id="box_menu30link639" class="contacts {{page.contacts_active?}}">
                                <a href="../en/contacts.html">
                                <div>
                                    <div id='menu30link639' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">Contacts</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu30link639').hover(function() {
                                    $('#menu30link639').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu30link639').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>
                        </ul>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>