<div class='' id='footer_container'>
  <div class='' id='container4'>
    <div class='contents'>
      <ol class='contents '>
        <li class="container container_float_right">
          <div class='content' id='content_628_container'>
            <div class='text ev-texto ev-texto-copyright'>
              <div class='i'>
                <div>EDITVALUE<strong>®</strong>Consultoria Empresarial©2013</div>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>