<div class='' id='container2'>
    <div class='contents'>
        <ol class='contents '>
            <li class="container left ">
                <div class="content" id="content_616_container">
                

                    <div class="ev-main-menu-es">
                        <h1><span>Principal (es)</span></h1>
                        <ul>
                            <!-- Index -->
                            <li id="box_menu31link147" class="index-es {{page.index_active?}}">
                                <a href="../es.html">
                                <div>
                                    <div id='menu31link147' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">EditValue</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu31link147').hover(function() {
                                    $('#menu31link147').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu31link147').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>

                            <!-- equipo -->
                            <li id="box_menu31link148" class="equipo {{page.equipo_active?}}">
                                <a href="../es/equipo.html">
                                <div>
                                    <div id='menu31link148' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">Equipo</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu31link148').hover(function() {
                                    $('#menu31link148').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu31link148').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>

                            <!-- servicios -->
                            <li id="box_menu31link149" class="servicios {{page.servicios_active?}}">
                                <a href="../es/servicios.html">
                                <div>
                                    <div id='menu31link149' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">Servicios</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu31link149').hover(function() {
                                    $('#menu31link149').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu31link149').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>

                            <!-- Investigacion -->
                            <li id="box_menu31link151" class="investigacion {{page.investigacion_active?}}">
                                <a href="../es/investigacion.html">
                                <div>
                                    <div id='menu31link151' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">Investigación</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu31link151').hover(function() {
                                    $('#menu31link151').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu31link151').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>

                            <!-- Contactos -->
                            <li id="box_menu31link641" class="contactos-es {{page.contactos_active?}}">
                                <a href="../es/contactos.html">
                                <div>
                                    <div id='menu31link641' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">Contactos-es</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu31link641').hover(function() {
                                    $('#menu31link641').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu31link641').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>
                        </ul>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>