<div class='clearfix' id='container2'>
    <div class='contents'>
        <ol class='contents clearfix'>
            <li class="container left ">
                <div class="content" id="content_616_container">
                
                    <div class="ev-main-menu">
                        <h1><span>Principal</span></h1>
                        <ul>
                            <!-- Index -->
                            <li id="box_menu29link144" class="index {{page.index_active?}}">
                                <a href="../index.html">
                                <div>
                                    <div id='menu29link144' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">EditValue</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu29link144').hover(function() {
                                    $('#menu29link144').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu29link144').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>

                            <!-- equipa -->
                            <li id="box_menu29link143" class="equipa {{page.equipa_active?}}">
                                <a href="../equipa.html">
                                <div>
                                    <div id='menu29link143' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">Equipa</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu29link143').hover(function() {
                                    $('#menu29link143').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu29link143').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>

                            <!-- serviços -->
                            <li id="box_menu29link142" class="servicos {{page.servicos_active?}}">
                                <a href="../servicos.html">
                                <div>
                                    <div id='menu29link142' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">Serviços</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu29link142').hover(function() {
                                    $('#menu29link142').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu29link142').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>

                            <!-- média -->
                            <li id="box_menu29link140" class="media {{page.media_active?}}">
                                <a href="../pt-media/rumo-economico.html">
                                <div>
                                    <div id='menu29link140' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">Media</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu29link140').hover(function() {
                                    $('#menu29link140').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu29link140').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>

                            <!-- investigação -->
                            <li id="box_menu29link139" class="investigacao {{page.invertigacao_active?}}">
                                <a href="../investigacao.html">
                                <div>
                                    <div id='menu29link139' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">Investigação</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu29link139').hover(function() {
                                    $('#menu29link139').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu29link139').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>

                            <!-- redes -->
                            <li id="box_menu29link138" class="rede {{page.rede_active?}}">
                                <a href="../rede.html">
                                <div>
                                    <div id='menu29link138' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">Rede</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu29link138').hover(function() {
                                    $('#menu29link138').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu29link138').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>

                            <!-- bolsa de ideias -->
                            <li id="../box_menu29link154" class="bolsa-de-ideias {{page.bolsa_active?}}">
                                <a href="bolsa-de-ideias.html">
                                <div>
                                    <div id='menu29link154' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">Bolsa de Ideias</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu29link154').hover(function() {
                                    $('#menu29link154').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu29link154').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>

                            <!-- contactos -->
                            <li id="box_menu29link155" class="contactos {{page.contactos_active?}}">
                                <a href="../contactos.html">
                                <div>
                                    <div id='menu29link155' class='icon'>
                                    <div></div>
                                    </div>
                                    <div class="label">Contactos</div>
                                </div>
                                </a>
                            </li>
                            <script type="text/javascript">
                                //<![CDATA[
                                $('#box_menu29link155').hover(function() {
                                    $('#menu29link155').animate({ top: "0px" }, 150);
                                }, function() {
                                    $('#menu29link155').animate({ top: "-83px" }, 300);
                                });
                                //]]>
                            </script>

                        </ul>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>