<!DOCTYPE html>
<html>
{% include en-head.html %}
    <body>
        <div class="pusher">
            <div class="">
                <div class='' id='main_container'>
                    {% include en-header.html %}
                    <div class='' id='middle_container'>
                        {% include en-menu.html %}
                        <div class='clearfix' id='container3'>
                            <div class='contents'>
                                {{ content }}
                            </div>
                        </div>
                    </div>
                    {% include en-footer.html %}
                </div>
            </div>
        </div> 
    </body>
</html>