<!DOCTYPE html>
<html>
{% include head-post.html %}
    <body>
        <div class="pusher">
            <div class="">
                <div class='' id='main_container'>
                    {% include header.html %}
                    <div class='' id='middle_container'>
                        {% include menu-media-in.html %}
                        <div class='clearfix' id='container3'>
                            <div class='contents'>
                                {% include press-release-post.html %}
                            </div>
                        </div>
                    </div>
                    {% include footer.html %}
                </div>
            </div>
        </div> 
    </body>
</html>