---
layout: default
title: Clipping
class: media-pt
media_active?: active
---

<body class='older_browser ev media'>
  <div class='clearfix' id='main_container'>
    {% include header.html %}
    <div class='clearfix' id='middle_container'>
      {% include menu-media.html %}
      <div class='clearfix' id='container3'>
        <div class='contents'>
          
            <ol class='contents clearfix'>
              <li class="container container_float_left">
                <div class='content' id='content_624_container'>
                  <div class='menu ev-menu-destaques'>
                    <h1>
                      <span>
                        Media
                      </span>
                    </h1>
                    <ul>
                      <li class='media '>
                        <a href='rumo-economico.html'>
                          <span class='icon'></span>
                          <span class='label'>
                            Notícias Rumo Económico
                          </span>
                        </a>
                      </li>
                      <li class='artigos-economia  '>
                        <a href='artigos-economia.html'>
                          <span class='icon'></span>
                          <span class='label'>
                            Artigos Suplemento de Economia
                          </span>
                        </a>
                      </li>
                      <li class='videos '>
                        <a href='videos.html'>
                          <span class='icon'></span>
                          <span class='label'>
                            Vídeos
                          </span>
                        </a>
                      </li>
                      <li class='clipping active '>
                        <a href='clipping.html'>
                          <span class='icon'></span>
                          <span class='label'>
                            Clipping
                          </span>
                        </a>
                      </li>
                      <li class='press-release  '>
                        <a href='press-release.html'>
                          <span class='icon'></span>
                          <span class='label'>
                            Press Release
                          </span>
                        </a>
                      </li>
                      <li class='logo-marca '>
                        <a href='logo-marca.html'>
                          <span class='icon'></span>
                          <span class='label'>
                            Logo Marca
                          </span>
                        </a>
                      </li>
                      <li class='galeria-fotos -last  '>
                        <a href='galeria-fotos.html'>
                          <span class='icon'></span>
                          <span class='label'>
                            Galeria de Fotos
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              
            <li class="container right ">
              <div class='content' id='content_15079_container'>
                <div class='gallery album clipping'>
                  <h1><span class=value>Clipping</span><span class=i18n></span></h1>
                  <div class='album'>
                    <a href='clipping/recortes-2011.html'>
                      <div class='thumb'><img class="image" src='../images/dynamic/W1siZnUiLCJodHRwczovL2FkYWdhd2ViLnMzLmFtYXpvbmF/noticia-newsletter-vida-economica-07-09-20112ecd.jpg?sha=829ca5ea220283b3' /></div>
                      <div class='name'>Recortes 2011</div>
                      <div class='description'></div>
                    </a>
                  </div>
                  
                  <div class='album'>
                    <a href='clipping/recortes-2010.html'>
                      <div class='thumb'><img class="image" src='../images/dynamic/W1siZnUiLCJodHRwczovL2FkYWdhd2ViLnMzLmFtYXpvbmF/noticias-de-guimaraes-31-12-2010fdbd.jpg?sha=dd40ffcebb199994' /></div>
                      <div class='name'>Recortes 2010</div>
                      <div class='description'></div>
                    </a>
                  </div>
                  
                  <div class='album'>
                    <a href='clipping/recortes-2009.html'>
                      <div class='thumb'><img class="image" src='../images/dynamic/W1siZnUiLCJodHRwczovL2FkYWdhd2ViLnMzLmFtYXpvbmF/cm_17_07_20091623.jpg?sha=2ad1c7a3e20113d2' /></div>
                      <div class='name'>Recortes 2009</div>
                      <div class='description'></div>
                    </a>
                  </div>
                  
                  <div class='album'>
                    <a href='clipping/recortes-2008.html'>
                      <div class='thumb'><img class="image" src='../images/dynamic/W1siZnUiLCJodHRwczovL2FkYWdhd2ViLnMzLmFtYXpvbmF/10_04_2008_dma12d.jpg?sha=3be87e2a01c14222' /></div>
                      <div class='name'>Recortes 2008</div>
                      <div class='description'></div>
                    </a>
                  </div>
                  
                  <div class='album'>
                    <a href='clipping/recortes-2007.html'>
                      <div class='thumb'><img class="image" src='../images/dynamic/W1siZnUiLCJodHRwczovL2FkYWdhd2ViLnMzLmFtYXpvbmF/16_01_20071d15.jpg?sha=10ab819c89cdfd47' /></div>
                      <div class='name'>Recortes 2007</div>
                      <div class='description'></div>
                    </a>
                  </div>
                  
                  <div class='album'>
                    <a href='clipping/recortes-2006.html'>
                      <div class='thumb'><img class="image" src='../images/dynamic/W1siZnUiLCJodHRwczovL2FkYWdhd2ViLnMzLmFtYXpvbmF/22_02_2006_academico8943.jpg?sha=396c9bafda665559' /></div>
                      <div class='name'>Recortes 2006</div>
                      <div class='description'></div>
                    </a>
                  </div>

                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </div>
</body>