---
layout: default
title: Logo Marca
class: media-pt
media_active?: active
---

<body class='older_browser ev media'>
  <div class='clearfix' id='main_container'>
    {% include header.html %}
    <div class='clearfix' id='middle_container'>
      {% include menu-media.html %}
      <div class='clearfix' id='container3'>
        <div class='contents'>
          
            <ol class='contents clearfix'>
              <li class="container container_float_left">
                <div class='content' id='content_624_container'>
                  <div class='menu ev-menu-destaques'>
                    <h1>
                      <span>
                        Media
                      </span>
                    </h1>
                    <ul>
                      <li class='media '>
                        <a href='rumo-economico.html'>
                          <span class='icon'></span>
                          <span class='label'>
                            Notícias Rumo Económico
                          </span>
                        </a>
                      </li>
                      <li class='artigos-economia  '>
                        <a href='artigos-economia.html'>
                          <span class='icon'></span>
                          <span class='label'>
                            Artigos Suplemento de Economia
                          </span>
                        </a>
                      </li>
                      <li class='videos '>
                        <a href='videos.html'>
                          <span class='icon'></span>
                          <span class='label'>
                            Vídeos
                          </span>
                        </a>
                      </li>
                      <li class='clipping  '>
                        <a href='clipping.html'>
                          <span class='icon'></span>
                          <span class='label'>
                            Clipping
                          </span>
                        </a>
                      </li>
                      <li class='press-release  '>
                        <a href='press-release.html'>
                          <span class='icon'></span>
                          <span class='label'>
                            Press Release
                          </span>
                        </a>
                      </li>
                      <li class='logo-marca active'>
                        <a href='logo-marca.html'>
                          <span class='icon'></span>
                          <span class='label'>
                            Logo Marca
                          </span>
                        </a>
                      </li>
                      <li class='galeria-fotos -last  '>
                        <a href='galeria-fotos.html'>
                          <span class='icon'></span>
                          <span class='label'>
                            Galeria de Fotos
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              
            <li class="container container-float-left">
              <div class="content" id="content_732_container">
                <div class="text ev-texto-logomarca">
                  <div class="i">
                    <h1>Logo Marca</h1>
                    <p>
                      O conjunto de elementos gráficos, símbolo e nome, que passamos a designar
                      simplesmente por logo marca, é o elemento principal da identidade da EDIT
                      VALUE<sub><sup>®</sup></sub> Consultoria Empresarial. Poderá ser utilizado pelos
                      seus clientes e outras entidades ou pessoas, desde que, com a autorização explícita
                      da EDIT VALUE<sub><sup>®</sup></sub>.
                    </p>

                    
                    
                    <table border="0" cellpadding="0" cellspacing="0" style="height:173px; width:600px">
                      <tbody>
                        <tr>
                          <td style="text-align:center">
                            <h1>
                              <a href="../assets/sites/55a8a0b6301be3e68f000002/content_entry55abbadf301be3b1060004c6/55abbb33301be381430004ca/files/Logo_Marca8d88.zip?1437317939" target="_blank">
                                <img alt="" src='../assets/sites/55a8a0b6301be3e68f000002/theme/images/albums-us/edit-value/4654/original/EditValue_Logo_Cores_smallff8b.png' style="height:159px; width:228px">
                              </a>
                            </h1>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p>
                                Clique sobre a imagem ou
                                <a href="../assets/sites/55a8a0b6301be3e68f000002/content_entry55abbadf301be3b1060004c6/55abbb33301be381430004ca/files/Logo_Marca8d88.zip?1437317939" target="_blank">aqui</a>
                                para fazer download da logomarca nos diversos formatos gráficos.
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <p> </p>
                  </div>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </div>
</body>