---
layout: default
title: Rumo Económico
class: media-pt
media_active?: active
---

  <body class='older_browser ev media'>
    <div class='clearfix' id='main_container'>
      {% include header.html %}
      <div class='clearfix' id='middle_container'>
        {% include menu.html %}
        <div class='clearfix' id='container3'>
          <div class='contents'>
            
              <ol class='contents clearfix'>
                <li class="container container_float_left">
                  <div class='content' id='content_624_container'>
                    <div class='menu ev-menu-destaques'>
                      <h1>
                        <span>
                          Media
                        </span>
                      </h1>
                      <ul>
                        <li class='media active'>
                          <a href='rumo-economico.html'>
                            <span class='icon'></span>
                            <span class='label'>
                              Notícias Rumo Económico
                            </span>
                          </a>
                        </li>
                        <li class='artigos-economia  '>
                          <a href='artigos-economia.html'>
                            <span class='icon'></span>
                            <span class='label'>
                              Artigos Suplemento de Economia
                            </span>
                          </a>
                        </li>
                        <li class='videos '>
                          <a href='videos.html'>
                            <span class='icon'></span>
                            <span class='label'>
                              Vídeos
                            </span>
                          </a>
                        </li>
                        <li class='clipping  '>
                          <a href='clipping.html'>
                            <span class='icon'></span>
                            <span class='label'>
                              Clipping
                            </span>
                          </a>
                        </li>
                        <li class='press-release  '>
                          <a href='press-release.html'>
                            <span class='icon'></span>
                            <span class='label'>
                              Press Release
                            </span>
                          </a>
                        </li>
                        <li class='logo-marca '>
                          <a href='logo-marca.html'>
                            <span class='icon'></span>
                            <span class='label'>
                              Logo Marca
                            </span>
                          </a>
                        </li>
                        <li class='galeria-fotos -last  '>
                          <a href='galeria-fotos.html'>
                            <span class='icon'></span>
                            <span class='label'>
                              Galeria de Fotos
                            </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                
              <li class="container container-float-left">
                <div class='content' id='content_768_container'>
                  <div class='text ev-texto ev-texto-rumo-titulo'>
                    <div class='i'>
                      <h1>Rumo Económico</h1>
                    </div>
                  </div>
                </div>
              </li>

              <li class="container left">
                <div class='content' id='content_15303_container'>
                  <div class='photo ev-imagem-rumo' id='photo_15303_link'>
                    <div class='i'>
                      <span>
                        <img alt="Radio" src='../assets/sites/55a8a0b6301be3e68f000002/theme/images/foreigners/edit-value/58/42244/radio.jpg' />
                      </span>
                    </div>
                  </div>
                </div>
              </li>

              <li class="container container-float-left">
                <div class='content' id='content_766_container'>
                  <div class='text ev-texto ev-texto-rumo'>
                    <div class='i'>
                      <div>A economia que interessa na Universitária. Todas as sextas-feiras às 10h45 e 16h30.</div>
                      <div>&nbsp;</div>
                      <div>Informação da responsabilidade da EDIT VALUE®.&nbsp;</div>
                      <div>&nbsp;</div>
                      <div>Ouça o último programa emitido...</div>
                      <div>&nbsp;</div>
                    </div>
                  </div>
                </div>
              </li>



              <li class="container container-float-left">
                <div class='content' id='content_822_container'>
                  <div class="ev-alien-media">
                    <h1><span>Rumo Económico</span></h1>
                    <ul>
                      <li>
                        <div class="i">
                          <div class="name">15-08-2015</div>
                          <div class="link"><a href="../../www.rum.pt/shows/list/podcasts/uploads/Rumo_Economico/RUMO_ECON-2015-08-07.html">download mp3</a></div>
                          <div class="player">
                            <!--[if !IE]><!-->
                            <object type="application/x-shockwave-flash"
                                    data="../../swfs.textovirtual.com/player.swf"
                                    id="audioplayer0"
                                    width="100%" height="100%">
                              <param name="FlashVars" value="playerID=0&amp;soundFile=http://podcast.rum.pt/uploads/Rumo_Economico/RUMO_ECON-2015-08-07.mp3">
                              <param name="quality" value="high" />
                              <param name="loop" value="true" />
                              <param name="menu" value="false" />
                              <p>Não tem o flash instalado.</p>
                            </object>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>

  
</html>
